/*
Theme Name: WP Thomy

Author : Anonymous
Edited : Anonymous
Version: 1.0

License: GNU/GPL Version 2 or later
License URI: http://www.gnu.org/licenses/gpl.html
*/
*{margin:0;padding:0;}
body{font-size:14px;background:#252525;font-family:arial, verdana, georgia;color:#ddd;}
a{color:#727272;text-decoration:none;font-weight:bold;}
p{color:#929292;}
h1,h2,h3,h4,h5,p{margin-bottom:10px;}
h1{font-size:22px;}
h2{font-size:18px;}
h3{font-size:16px;}
.cl{clear:both;}
.right{float:right;}
.left{float:left;}
img{border:none;}
#top{min-width:980px;background:#000;-moz-box-shadow:0 2px 6px #0B0B0B;box-shadow:0 2px 6px #0B0B0B;}
#top-mid{width:980px;margin:0 auto;}
.logo{font-size:33px;font-family:arial;font-weight:bold;letter-spacing:1px;float:left;}
.logo a{float:left;color:rgb(79, 79, 79);letter-spacing:3px;padding:3px 4px;font-weight:300;} .searchboxform{background:#C7C7C7;border:0;padding:8px;width:235px;font-weight:bold;letter-spacing:1px;font-size:12px;margin-bottom: 4px;}
.menubox{float:right;border: 1px dashed;}
.menu li{list-style:none;display:inline-block;text-transform:uppercase;font-weight:bold;letter-spacing:1px;font-size:12px;}
#top-mid .menu li:hover{background:#262626;}
#top-mid .menu li ul li:hover{background:#444;}
.menubox .menu li a{color:#80FF00;padding:15px;display:block;}
.arrow{margin-top:4px;margin-left:3px;position:absolute;width:0;height:0;border:4px solid transparent;border-top:4px solid #ddd;}
.cathead{color:#fff;padding:15px;display:block;cursor:pointer;}
.cathead:hover .catlist,.cathead:hover .catlist{display:block;}
.catlist{top:42px;display:none;position:absolute;background:#222222;margin-left:-15px;z-index:6;}
.catlist ul{-moz-box-shadow:0 2px 6px #0C0C0C;box-shadow:0 2px 6px #0B0B0B;min-width:195px;}
.catlist li {display:block;border-bottom:1px solid #333;}
.catlist li a{padding:15px 50px 15px 15px !important;}
#contentbox{width:735px;float:left;padding:10px 5px 10px 0;}
#contentfull{width:980px;padding:10px 0;}
.post_title{font-size:15px;text-shadow:0 1px #000;font-family:arial;color:#333;letter-spacing:1px;margin:2px 0;border-bottom:3px solid #333;text-align:center;}
.meta{font-size:12px;color:#DDD;}
.post_img{padding:5px 5px 2px;margin-top:5px;-moz-box-shadow:0 1px 3px #0B0B0B;box-shadow:0 2px 6px #333333}
.post_img h2{text-align:center;font-family:arial;color:#58585A;margin:0;letter-spacing:1px;font-weight:bold;font-size:12px;}
.post_img img{width:100%;height:auto;}
.r_post{background:#222222;text-align:center;-moz-box-shadow:0 2px 6px #0C0C0C;box-shadow:0 2px 6px #0C0C0C;}
.r_post h4{font-size:14px;background:#333333;padding:8px;margin:10px 0 0 0;letter-spacing:1px;text-align:center;text-transform:uppercase;color:#fff;}
.imagebox{background:#0C0C0C;cursor:pointer;margin:8px;display:inline-block;width:342px;height:370px;-moz-box-shadow:0 2px 6px #0C0C0C;box-shadow:0 2px 6px #fff;position:relative;}
.imagebox a{display:block;color:#80FF00;text-align:center;font-size: 14px;line-height: 0;padding:4px;display: inline-table;}
.imagebox img{display:block;width:334px;height:225px;margin-right:auto;margin-left:auto;}
.imagebox:hover {box-shadow:0 4px 8px #0EBEF8;} #post-navigator{clear:both;height:auto;width:100%;display:block;font-size:12px;margin:1em auto;padding:0;}
.wp-pagenavi{width:100%;clear:both;height:auto;text-align:center;margin:0 auto;padding:.5em 0;font-weight:bold;}
.pages{background:#333;color:#fff;width:auto;height:auto;margin:0 3px 0 0;padding:5px 8px;}
.current{color:#fff;margin:0;background:#333;padding:5px 8px;}
.wp-pagenavi a{color:#fff;text-decoration:none;display:inline;margin:0;padding:5px 8px;background:#333;}
.wp-pagenavi a:hover{background:#000;color:#fff;}
#post-navigator .alignleft a,#post-navigator .alignright a{color:#EB8D02;height:auto;width:auto;text-decoration:none;display:block;background-color:#000;margin:0;padding:5px;}
#post-navigator .alignleft a:hover,#post-navigator .alignright a:hover{color:#fff;text-decoration:none;background-color:#000;}
#sidebar{float:right;padding:10px 0 10px 5px;}
.sidebarbox{width:235px;}
.sidebartext{background:#222222;margin:0;font-size:16px;font-family:arial;color:#fff;padding:8px 5px;text-align:center;-moz-box-shadow:0 2px 6px #0C0C0C;box-shadow:0 2px 6px #0C0C0C;}
.categorybox{padding:10px 10px 6px;background:#333333;-moz-box-shadow:0 2px 6px #0C0C0C;box-shadow:0 2px 6px #0C0C0C;}
.categorybox ul{list-style-type:none;margin-left:0;}
.categorybox ul a{color:#80FF00;font-size:14px;font-weight:bold;}
.categorybox ul a:hover{text-decoration:underline;}
.categorybox ul li{margin-bottom:8px;margin-right:5px;display:inline-block;width:140px;}
.postlist{padding:5px 12px;background:#333333;margin-bottom:10px;-moz-box-shadow:0 2px 6px #0C0C0C;box-shadow:0 2px 6px #0C0C0C;}
.postlist .imagebox{max-width:150px;max-height:150px;margin:10px 13px;}
.postlist .imagebox:hover h2{padding:10px 0;transition:.3s ease;}
.popularlink{margin:5px 0;border-bottom:1px dotted #8e8c8c;padding-bottom:4px;}
.popularlink h4{margin:0 0 1px;font-size:13px;cursor:pointer;font-family:arial;height:16px;overflow:hidden;}
.email, .popularlink h3:hover{color:#ff7e00;}
.popularlink h4 a{font-size:14px;}
.popularlink h4 a:hover{text-decoration:underline;}
.popularlink span a{font-size:11px;font-family:arial;font-weight:normal;color:#8e8c8c;}
.popularlink span a:hover{text-decoration:underline;}
#bottom{min-width:980px;margin:0 auto;color:#fff;text-align:center;background:#000;}
#bottom a:hover{color:#80FF00;}
.bottom-mid{font-size:12px;width:970px;margin:0 auto;padding:10px 10px 5px;}
.copy{letter-spacing:2px;text-transform:uppercase;margin-top:15px;}
#main{width:980px;margin:0 auto;}
.prevnext{background:#333333;font-weight:bold;letter-spacing:1px;font-size:20px;margin:8px auto 0;padding:8px;box-shadow:0 2px 6px #0B0B0B;}
.prev{width:30%;float:left;}
.prevat a,.nextat a{font-size:15px;width:160px;background:#333333;border-radius:4px;margin-bottom:6px;text-align:left;display:block;color:#000;-moz-box-shadow:0 4px #777;transition:letter-spacing 0.1s linear;}
.prevat a:hover,.nextat a:hover{letter-spacing:1px;transition:letter-spacing 0.1s linear;}
.prevat a:active,.nextat a:active{position:relative;top:4px;-moz-box-shadow:0 0px #777;box-shadow:0 0px #777;background:rgba(0,0,0,0.85);}
.next{width:30%;float:right;text-align:right;}
.prev a, .next a{padding:15px 0;}
.prev a:hover, .next a:hover{text-decoration:underline;}
.gallery{text-align:center;margin-top:10px;}
.gallery img{background:#333;margin:7px;width:128px;height:100px;-moz-box-shadow:0 2px 4px #0B0B0B;box-shadow:0 2px 4px #0B0B0B;}
.gallery h3{color:#80FF00;letter-spacing:1px;text-transform:uppercase;font-size:16px;text-shadow:0 1px #000;border-bottom:3px solid #333;}
.gallery img:hover{box-shadow:0 4px 8px #0EBEF8;}
.content{background:#333333;padding:4px 8px 8px;text-align:left;-moz-box-shadow:0 2px 6px #0B0B0B;box-shadow:0 2px 6px #0C0C0C;}
.content p{padding:0 3px;margin:5px 0;line-height:20px;text-align:justify;}
.content p a:hover{text-decoration:underline;}
.contentlist{background:#333333;padding:6px;text-align:left;-moz-box-shadow:0 2px 6px #0C0C0C;box-shadow:0 2px 6px #0C0C0C;text-align: center;}
.breadcrumbs{margin:0 0 5px 5px;text-transform:uppercase;letter-spacing:1px;font-size:10px;font-weight:bold;}
.breadcrumbs a:hover{text-decoration:underline;}
.crent{color:#727272;}
.page_title{background-color:#222222;padding:8px;margin:0 0 5px 0;letter-spacing:1px;text-shadow:0 1px #000;font-size:12px;text-align:center;color:#686868;-moz-box-shadow:0 2px 6px #0B0B0B;box-shadow:0 2px 6px #0B0B0B;font-weight:300;}
.page{padding:15px;background:#111;margin-top:-10px;letter-spacing:1px;-moz-box-shadow:0 2px 6px #0B0B0B;box-shadow:0 2px 6px #0B0B0B;margin-top:11px;}
.page li{margin-bottom:5px;margin-left:30px;}
.page strong{color:#ff7e00;}
.page a:hover{text-decoration:underline;}
.desbox{width:734px;height:105px;margin-top:5px;}
.downloadbtn{width:120px;text-align:center;}
.downloadbtn a{background:#333;border-radius:4px;color:#fff;padding:10px 0;display:block;letter-spacing:1px;transition:letter-spacing 0.1s linear;-moz-box-shadow:0 4px #777;box-shadow:0 4px #777;}
.downloadbtn a:hover{letter-spacing:2px;transition:letter-spacing 0.1s linear;}
.downloadbtn a:active{position:relative;top:4px;-moz-box-shadow:0 0px #777;box-shadow:0 0px #777;}
.lbox{float:left;width:120px;margin:5px 10px 5px 5px;}
.sharebtn a{color:#fff;text-align:center;letter-spacing:1px;transition:letter-spacing 0.1s linear;margin-bottom:6px;}
.sharebtn a:hover{letter-spacing:2px;transition:letter-spacing 0.1s linear;}
.facebook{background-color:#3b5998;display:block;padding:10px 0;border-radius:4px;-moz-box-shadow:0 4px #777;box-shadow:0 4px #777;}
.facebook:active{position:relative;top:4px;-moz-box-shadow:0 0px #777;box-shadow:0 0px #777;}
.pinterest{background-color:#80FF00;display:block;padding:10px 0;border-radius:4px;-moz-box-shadow:0 4px #777;box-shadow:0 4px #777;}
.pinterest:active{position:relative;top:4px;-moz-box-shadow:0 0px #777;box-shadow:0 0px #777;}
.twitter{background-color:#80FF00;display:block;padding:10px 0;border-radius:4px;-moz-box-shadow:0 4px #777;box-shadow:0 4px #777;}
.twitter:active{position:relative;top:4px;-moz-box-shadow:0 0px #777;box-shadow:0 0px #777;}
.googleplus{background-color:#f63e28;display:block;padding:10px 0;border-radius:4px;-moz-box-shadow:0 4px #777;box-shadow:0 4px #777;}
.googleplus:active{position:relative;top:4px;-moz-box-shadow:0 0px #777;box-shadow:0 0px #777;}
.rbox{border:1px solid #a7a7a7;background:#222;float:right;width:575px;min-height:167px;margin:5px 5px 5px 0;}
.rbox p{margin:5px 0;line-height:20px;padding:0 5px;}
.rbox a{text-decoration:none;font-size:14px;}
.rbox a:hover{text-decoration:underline;}
.ads{margin:auto;}
.adsbox{width:940px;height:90px;margin:10px auto;}
.lads{float:left;width:726px;height:90px;}
.rads{float:right;width:190px;height:90px;}
.sitemap_info{font-size:11px;}
.imgkecil{width:106px;height: 96px;display: inline-flex;float:left;}
.imgkecil img{width:106px;height: 96px;}
.imgkecil a{}
.siderand{width:232px;border: 1px solid #222222;text-align: center;}
.siderand img{width:115px;height: 95px;}
.siderand a{font-size: 0px}
.sidebox {width:114px;height: 96px;display: inline-flex;}
.siderand img:hover {box-shadow:0 4px 8px #0EBEF8;}
.ads_samping{width:300px;height:600px;overflow:hidden;border: 1px solid #222222;background-color:#222222;text-align:center;}
.adskotak{width:336; height:280px;}