/*
Theme Name: Anonymous

Author : Anonymous
Edited : Anonymous
Version: 1.0

License: GNU/GPL Version 2 or later
License URI: http://www.gnu.org/licenses/gpl.html
*/
@media only screen and (max-width: 1024px) {
    .war img{max-width: 100% !important;}
    .war{}
    .raw{width: 50% !important;}
    #uu{margin-top: 10px;}
    .posted{display: none;}
}
@media only screen and (max-width: 768px) {
    #usb,
    #usb2 {
        width: 738px;
	height: auto;
	float: left;
	text-align: center;
	max-width: 100%;
    }
    #soup,
    #uu {
        width: 100%!important
    }
    .palalu {
        width: 100%;
        height: 50%!important
    }
    .fix,
    .palale li,
    .uuc {
        width: 96%!important
    }
    .box,
    .down,
    .hrd,
    .insearch,
    .thumb,
    .uub,
    .war,
    .war img,
    .wp-pagenavi {
        width: 95%!important
    }
        .thumb {
        display: none
    }
}
@media only screen and (max-width: 640px) {
    .byone{margin-top: -10px;}
    .posted{padding-top: 10px;}

}
@media only screen and (max-width: 480px) {
    .thumb {display: none}
.raw{width: 100%!important}
.lag h3{width: 100%!important}
.wp-pagenavi{margin-bottom:10px }  
.palale li{width: 100px} 
}
{
    margin: 0;
    padding: 0
}
body {
    font-size: 12px;
background:#3B3B3B;
    font-family: calibri;
    color: #BBB;
    margin:0px;
}
a {
    color: #BBB;
    text-decoration: none
}
h1,
h2,
h3,
h4,
h5,
p {
    margin: 10px 0
}
h1 {
    font-size: 22px
}
#ab {
    margin: 0 auto
}
.cl {
    clear: both
}
img {
    border: none
}

#pala {
width: auto;
background: #2B2B2B none repeat scroll 0% 0%;
padding: 30px 0 0 0;
border-bottom: 2px solid #393939;
height: 90px;
}
.palala {
    font-size: 23px;
    font-family: calibri;
    letter-spacing: 2px;
    margin: -7px 0 0 25px;
}
.palala a:hover {
  
}
.palala a h2{
    font: 600 25px/1 "Open Sans Condensed",sans-serif;
}
.palala blockquote{
font-size: 17px;
margin: 5px 0 0 4px;
color: #009DF6;
}

#bd {
    width: 760px;
    float: left;
    margin-right: -9px;
    margin-top: -6px
}
.raw {
width: 375px;
height: 250px;
float: left;
margin:4px -9px -20px 0;
}
.posted {
    margin: -46px 0 0 10px;
    color: #838383
}
.war {
background-color: #2B2B2B;
cursor: pointer;
border-bottom: 2px solid #393939;
height: 225px;
margin: 9px;

}
.war:hover {
    border-bottom: 2px solid #009DF6
}
.war img {
opacity: 1;
margin: 7px 0px 7px 2px;
height: auto;
width: 74%;
}
.thumb {
    width: 90px;
    float: right;
    margin: 16px 7px 0 -6px
}
.thumb img {
    width: 75px;
    height: 50px;
}
.thumb img:hover {
    opacity: .8;
    transition: all .4s ease 0s
}
.byone h2 {
    font-size: 11px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #BBB;
    height: 13px;
    overflow: hidden;
    margin: 7px auto 6px;
    letter-spacing: 1px
}
.byone p {
    text-align: center;
    font-size: 10px;
    font-family: arial;
    font-weight: 700;
    color: #919191;
    margin: -10px 0 0
}
.navigation .left,
.navigation .right {
    background-color: #fff;
    padding: 10px 35px
}
#usb2 {
    width: 738px;
    height: auto;
    float: left;
    text-align: center;
    max-width: 100%
}
.laa {
    font-size: 12px;
    text-transform: uppercase;
    font-family: arial;
    color: #BBB;
    letter-spacing: 1px;
    margin: 2px 0;
    text-align: left
}
.hg {
    background: url(images/footerBG1.png) left top repeat-x #3c3c3c;
    margin-bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-family: arial;
    color: #ff7e00;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    border-right: 1px solid #252525;
    border-left: 1px solid #252525;
    padding: 5px 5px 5px 10px
}
.lee,.leee,.leeee{
    margin-top: 5px;
    background: #222;
    padding: 5px
}
.lee h2 {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    font-family: arial;
    color: #3C3C3C;
    letter-spacing: 1px;
    margin: 2px 0
}
.lee img,.leee img,.leeee img {
    width: 100%;
    height: auto;
    cursor: pointer
}
.lee p {
    color: #ccc
}
.di p {
    text-align: justify;
    color: #c7c7c7
}
.post {
    border: 1px solid #393939
}
.post h3 {
    font-size: 14px;
    margin: 5px 10px
}
#id {
    color: #999;
    font-size: 12px;
    margin-top: 0;
    border-top: 1px solid #4b4b4b;
    border-right: 1px solid #252525;
    border-left: 1px solid #252525;
    border-bottom: 1px solid #252525;
    background: #333;
    height: 138px;
    padding: 5px 8px 1px 5px
}
.dk {
    width: 235px;
    float: left;
    padding: 2px
}
.dr {
    float: left;
    width: 350px;
    padding-top: 7px
}
/*.adsi{
    width: 250px;
    height:400px;
    background: #2b2b2b;
    margin:2px 0 9px 0;
}*/

#attachment {
    width: 1018px;
    float: left
}
.attachment_page {
    background-color: #333;
    margin-bottom: 15px;
    border-top: 1px solid #4b4b4b;
    border-right: 1px solid #252525;
    border-left: 1px solid #252525;
    border-bottom: 1px solid #252525;
    padding: 15px 10px 10px
}
.attachment_page h1 {
    margin-top: 0;
    font-size: 15px;
    width: 820px;
    float: left
}
.attachment_page img {
    width: 980px;
    height: auto;
    box-shadow: 0 1px 3px #000
}
.lead2 {
    background: url(images/footerBG1.png) left top repeat-x #3c3c3c;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: 0 1px 2px #0a0a0a;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    border-right: 1px solid #252525;
    border-left: 1px solid #252525;
    letter-spacing: 1px;
    margin: 0;
    padding: 10px 10px 10px 18px
}
#submit {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 5px
}
.single_page {
    width: 724px;
    border: 1px solid #fff;
    -moz-box-shadow: 0 1px 3px #0B0B0B;
    background: url(images/footerBG1.png) left top repeat-x #3c3c3c;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    border-right: 1px solid #252525;
    border-left: 1px solid #252525;
    color: #c7c7c7;
    margin-top: 6px;
    padding: 10px
}
#soup {
    clear: both;
    height: auto;
    display: block;
    font-size: 10px;
    margin-top: 25px;
    padding: 0
}
.wp-pagenavi {
    clear: both;
    height: auto;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    padding: 25px;
}
.pages {
    background: #2B2B2B;
    color: #969494;
    width: auto;
    height: auto;
    margin: 0 3px 0 0;
    padding: 5px 8px
}
.current {
    color: #DDD;
    background: #009DF6;
    margin-right: 1px;
    padding: 5px 8px
}
.wp-pagenavi a {
    color: #969494;
    text-decoration: none;
    display: inline;
    background: #2B2B2B;
    margin-right: 1px;
    padding: 5px 8px
}
.wp-pagenavi a:hover {
    background: #393939;
    color: #00A3FF
}
#soup .so a,
#soup .up a {
    color: #EB8D02;
    height: auto;
    width: auto;
    text-decoration: none;
    display: block;
    background-color: #000;
    margin: 0;
    padding: 5px
}
#soup .so a:hover,
#soup .up a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #000
}
#uu {
    float: right;
    width: 250px
}
.shi {
    background-color: #2B2B2B;
    border-bottom: 2px solid #393939;
    text-align: left;
    font-size: 14px;
    margin: 1px 8px;
    padding: 10px;
    letter-spacing: 3px;
    max-width: 100%;
    color: #BBB
}
.uua {
    float: right;
    margin-top: -9px;
}
.uub {
    background: #2B2B2B;
    font-size: 12px;
    text-transform: uppercase;
    font-family: arial;
    color: #BBB;
    padding: 11px 6px;
    border-bottom: 2px solid #393939;
    letter-spacing: 2px;
}
.uuss {
    font-size: 11px;
    padding: 5px;
    background: #2B2B2B;
    margin-top: -10px
}
.uuss ul {
    list-style-type: none;
    margin-left: 0
    font-family: arial narrow;
}
.uuss ul a {
    color: #BBB;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px
}
.uuss ul a:hover {
    color: #009DF6
}
.uuss ul li {
    margin-bottom: 8px;
    display: inline-block;
    width: 150px;
    margin-left: -35px
}
.ct_last {
    border-right: none
}
.uud {
    display: inline-block;
    padding: 0 5px
}
.uus {
    background: #2B2B2B;
    font-size: 12px;
    text-transform: uppercase;
    font-family: arial;
    color: #BBB;
    padding: 11px 6px;
    border-bottom: 2px solid #393939;
    letter-spacing: 2px;
}
.ht {
    width: 100px;
    float: left
}
.fix {
    float: left;
    margin: 6px 0
}
.fix h3 {
    margin-top: 0;
    font-size: 10px;
    text-decoration: none;
    cursor: pointer;
    font-family: arial;
    text-transform: uppercase;
    overflow: hidden;
    height: 12px
}
.fix h3 a {
    color: #009DF6
}
.fix h3 a:hover {
    color: #D2D2D2
}
.fix p {
    font-size: 10px;
    font-family: arial;
    font-weight: 700;
    color: #919191;
    margin: -10px 0 0
}
#fo {
    background: url(images/footerBG1.png) left top repeat-x #3c3c3c;
    margin-top: 15px;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    border-right: 1px solid #252525;
    border-left: 1px solid #252525;
    padding: 5px 0 15px 18px
}
.luu {
    margin-top: 2px;
    float: left
}
.down {
color: #BBB;
text-align: center;
background: #2B2B2B none repeat scroll 0% 0%;
font-size: 11px;
letter-spacing: 2px;
text-transform: uppercase;
padding: 15px;
border-top: 2px solid #393939;
margin: 10px auto 0px;
height: 80px;
width: auto;
}
.down a {
    color: #c7c7c7
}
.dc p {
    text-align: justify;
    font-style: italic;
    color: #c7c7c7;
    font-size: 12px;
    text-shadow: 0 1px 2px #0a0a0a;
    border-left: 3px solid #ff7e00;
    padding-left: 5px;
    position: rlative
}
#menu-wallpaper .palale {
    margin-top: 15px;
    background-color: #0B0B0B;
    border: 1px solid #393939;
    -moz-box-shadow: 0 1px 3px #0B0B0B;
    box-shadow: 0 1px 3px #0B0B0B;
    padding: 5px 23px 15px
}
.tb {
    float: left;
    width: 130px
}
.left,
.lo {

}
.image-meta a,

#breadchumb,
.footer_inside_box {
    margin-bottom: 10px
}
#id a:link,
#id a:visited,
.di a:link,
.di a:visited {
    color: #EB8D02
}
#breadchumb a:hover,
.image-meta a:hover {
    color: #EB8D02;
    text-decoration: underline
}
.dd .down,
.fz .full {
    float: right;
    background: #424242;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 1px 2px #0a0a0a;
    margin: 0 5px;
    padding: 5px 10px
}
.dd .down:hover,
.fz .full:hover {
    background: #494949;
    cursor: pointer
}
.lii {
    margin-top: -105px;
    position: absolute;
    width: 100px;
    margin-left: 10px;
    text-align: left
}
#usb {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    max-width: 100%
}
#usba{
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    max-width: 100%
}
#usb2a {
    width: 1008px;
    height: auto;
    float: left;
    max-width: 100%
}
.jump {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
    width: 99%;
    margin: 0 auto;
    padding: 5px 0
}
.you {
    width: 50%;
    float: left;
    text-align: left
}
.you a:hover {
    color: #00A3FF
}
.you a {
    font-size: 13px;
    letter-spacing: 2px;
    background: #3B3B3B;
}
.too {
    width: 50%;
    float: right;
    text-align: right
}
.too a:hover {
    color: #00A3FF
}
.too a {
    font-size: 13px;
    letter-spacing: 2px;
    background: #3B3B3B;
}


.youa {
    width: 50%;
    float: left;
    text-align: left
}
.youa a:hover {
    color: #00A3FF
}
.youa a {
    font-size: 35px;
    letter-spacing: 2px;
    background: #3B3B3B;
}
.tooa a:hover {
    color: #00A3FF
}
.tooa a {
    font-size: 35px;
    letter-spacing: 2px;
    background: #3B3B3B;
}
.tooa {
    width: 50%;
    float: right;
    text-align: right
}
.lag {
    text-align: center
}
.lag img {
    background: #222;
    padding: 4px;
    width: 90px;
    height: 60px
}
.lag h3 {
    color: #BBB;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px
}
.lag img:hover {
    background: #009DF6
}
.laga {
float: right;
width: 605px
}
.laga img {
    background: #222;
    padding: 4px;
    width: 75px;
    height: 50px
}
.laga h3 {
    color: #BBB;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px
}
.laga img:hover {
    background: #009DF6
}
.sugiarto{
    float: left;
width: 350px;
margin: 15px 0 0 12px;
}
.loo {
    background-color: #2B2B2B;
    padding: 4px 8px;
    margin-top: 3px
}
.crumbs {
    margin-left: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 700;
    margin-top: 1px;
    margin-bottom: 10px
}
.mk h4,.mk h5 {
    background-color: #2b2b2b;
    border-bottom: 2px solid #393939;
    text-align: left;
    letter-spacing: 1px;
    margin: 10px 0 0;
    padding: 10px;
    color: #BBB
}
.mk h5{font-size: 13px}
.mk {
    border-radius: 4px;
    text-align: center
}
.usb3 {
    background-color: #2B2B2B;
    border-bottom: 2px solid #393939;
    text-align: left;
    font-size: 14px;
    margin: 1px 8px;
    padding: 10px;
    letter-spacing: 3px;
    width: 972px;
    color: #BBB
}
/*.das{background-color: #2B2B2B;
    border-bottom: 2px solid #393939;
    text-align: left;
    font-size: 14px;
    margin: 1px 0 5px 0;
    padding: 10px;
    letter-spacing: 3px;
    width: 980px;
    color: #BBB;
    height: 100px}*/
#searchform {
    float: right;
    margin-top: 3px;
}
.insearch {
    background: #222;
    border: none;
    font-weight: 700;
    color: #BBB;
    letter-spacing: 1px;
    font-size: 12px;
    float: right;
padding: 12px 74px 8px 12px;
margin: 1px 0px 7px 0;
}
.palale li {
    margin-left: 50px;
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 10px
}
.palale {
    margin-left: -60px;

}
.palale li a {
color: #BBB;
font-size: 12px;}
.palale li a:hover {
    color: #009DF6
}
.uuc {
    background: #2B2B2B;
    padding: 5px;
    margin-top: -10px
}
.brr {
    background: #2B2B2B;
    margin-top: -10px;
    letter-spacing: 1px;
    padding: 1px 15px;
    text-align: left;
    width: 704px;
    float: left;
    margin-left: 8px
}
.brr li {
    color: #BBB;
    margin-bottom: 10px;
    margin-left: 30px
}
.loo blockquote {
    line-height: 20px;
    margin: 5px 0;
    padding: 0 3px;
    text-align: justify;
    color: #BBB
}
.FO a:hover,
.pg strong {
    color: #00d3db
}
.crumbs a,
.footer_inside_box a:hover,
.navigation a:hover {
    color: #999
}
.crent,
.crumbs a:hover,
p {
    color: #00A3FF
}